* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url(home.png);
	background-size: cover;
	}


.wrap {
	float: left;
	cursor: none;
	position: relative;
	width: 740px;
	margin-left:296px;
	margin-top:101px;
}

.magnifier {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 100%;
	box-shadow: 0 0 0 1.5px rgb(255, 255, 255), 0 0 3px 3px rgba(0, 0, 0, 0.25);
	display: none;
}

.target {
	display: inline;
	width: 100%;
}